black==26.5.1
alembic==1.18.5
email-validator==2.3.0
fastapi==0.139.0
httpx==0.28.1
ipykernel==7.2.0
ipython==9.12.0
joblib==1.5.3
jupyter_client==8.8.0
jupyter_core==5.9.1
kaggle==2.1.2
kagglehub==1.0.2
matplotlib==3.10.8
mypy==1.17.1
nbformat==5.10.4
numpy==2.4.3
pandas==3.0.1
pydantic-settings==2.14.2
pwdlib[bcrypt]==0.3.0
PyJWT==2.13.0
pytest==8.4.2
python-dotenv==1.2.2
python-multipart==0.0.32
requests==2.33.1
ruff==0.15.22
scikit-learn==1.8.0
scipy==1.17.1
SQLAlchemy==2.0.51
streamlit==1.61.1
uvicorn==0.49.0
